	<header>
		<nav>
			<ul class="menuFlex">
				<li><a class="fa fa-home" href="index.html">  Inicio</a></li>
				<li><a class="fa fa-gift" href="tienda.html">  Tienda</a></li>
				<li><a class="fa fa-phone" href="contacto.html">  Contacto</a></li>
				<li><a class="fa fa-rss-square" href="blog.html">  Blog</a></li>
			</ul>
		</nav>
  </header>

    <!-- cuerpo del sitio -->
    <div class="centerFlex">
      <main>
        <h1 class="flaticon-trophy">Super Página de diseños Lorem4Mac</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed obcaecati ullam quaerat incidunt similique ducimus modi voluptas, fugiat iusto hic ipsa ipsam maxime, fugit voluptatibus rerum quia delectus suscipit natus.</p> <br>
        <p>Lorem ipsum dolor sit amet, consectetur <strong>adipisicing</strong> <em>elit</em>. Eum nam, <span>quisquam</span> reprehenderit dicta illum ratione minus atque laboriosam mollitia vero magni quibusdam odit? Magnam similique aliquam debitis minus, quasi minima.</p>
      </main>
    </div>
    <!-- cuerpo del sitio -->

<!-- footer del sitio -->
	<footer>
		<ul class="footerFlex">
			<li><a href="http://www.youtube.com" target="_blank" class="fa fa-youtube"></a></li>
			<li><a href="http://www.facebook.com" target="_blank" class="fa fa-facebook"></a></li>
			<li><a href="http://www.instagram.com" target="_blank" class="fa fa-instagram"></a></li>
			<li><a href="http://www.twitter.com" target="_blank" class="fa fa-twitter"></a></li>
		</ul>
	</footer>
  <!-- footer del sitio -->
